@charset "UTF-8";
@import url(../css/base.css);
@import url(../css/fonts.css);
:root {
  --trans: all 0.35s ease-in-out;
  --color_dark: #453526;
  --color_lite: #ece5db;
}

header {
  box-shadow: 0px 0px 14px 0px rgba(84, 72, 61, 0.1);
  backdrop-filter: blur(17px);
  background-color: rgba(236, 229, 219, 0.4509803922);
  width: 100%;
  padding-block: 10px;
  position: fixed;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.h__left {
  display: flex;
  align-items: center;
  z-index: 99999;
}

.nav__header {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__link {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
}
.header__link:hover {
  color: #453526;
}

.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #453526;
  transition: width 0.35s;
}

.header__link:not(.no_active):hover:before {
  width: 100%;
}

.h__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.h__right .search {
  width: 100%;
  max-width: 140px;
  position: relative;
  margin-right: 4px;
}
.h__right .search input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #453526;
  padding-bottom: 1px;
  color: var(--color_dark);
  font-family: "Avenir Next";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  transition: var(--trans);
  outline: none;
}
.h__right .search input::placeholder {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.h__right .search input:focus {
  border-bottom-color: #453526;
}
.h__right .search svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0px;
}
.h__right .search svg path,
.h__right .search svg circle {
  transition: var(--trans);
}
.h__right .search input:focus + svg path {
  stroke: var(--color_dark);
}
.h__right .search input:focus + svg circle {
  stroke: var(--color_dark);
}

.h__right a,
.backet {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h__right a svg path,
.backet svg path {
  transition: var(--trans);
}
.h__right a svg circle,
.backet svg circle {
  transition: var(--trans);
}
.h__right a:hover svg path,
.backet:hover svg path {
  fill: #d1c1a8;
  stroke: #d1c1a8;
}
.h__right a:hover svg circle,
.backet:hover svg circle {
  fill: #d1c1a8;
  stroke: #d1c1a8;
}

.burger {
  display: none;
}

.burger__icon {
  width: 30px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #1c1c1c;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--Clear-White, #fff);
  padding: 15px;
  padding-left: 30px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  transition: var(--trans);
  max-height: 100%;
}
.burger__menu .btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 95%;
}

.burger__menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.burger__menu .container {
  padding: 0px;
}

.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 80px;
  width: 100%;
}

.burger__menu .header__item {
  width: 100%;
  text-align: start;
}

.burger__menu .header__link {
  color: var(--Black, #1d1d1f);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
}
.burger__menu .header__link:hover {
  color: var(--color_purple);
}

.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}

.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
  background-color: #1c1c1c;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-11px, -9px);
  background-color: #1c1c1c;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;
}
.burger__list li a {
  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h__center {
  margin-left: 90px;
}

.burger {
  display: none;
}

@media (max-width: 1150px) {
  .h__center {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
  .h__right div,
  .h__right a {
    display: none;
  }
  .h__right {
    position: absolute;
    right: 80px;
    z-index: 9999;
  }
}
.burger__menu .header__list {
  margin-bottom: 40px;
}

.active {
  color: var(--Black, #1d1d1f) !important;
  font-weight: 600 !important;
}

main {
  overflow-x: hidden;
}

.sect_hero {
  width: 100%;
  position: relative;
}

.hero_info {
  position: absolute;
  transform: translateY(-50%);
  top: 30%;
  z-index: 3;
  width: 100%;
  height: 0px;
}
.hero_info .box {
  width: fit-content;
}
.hero_info .container {
  height: 0px;
}
.hero_info h3 {
  color: var(--main, #453526);
  font-family: "Ms Madi";
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_info h2 {
  color: var(--white, #fff);
  -webkit-text-stroke-width: 0.4799999893;
  -webkit-text-stroke-color: var(--white, #fff);
  font-family: "Nyght Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_info p {
  color: var(--second, #ece5db);
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
}
.hero_info a {
  margin-top: 50px;
}

.main_hero_swiper {
  height: 700px;
}
.main_hero_swiper .splide__track {
  height: 100%;
}
.main_hero_swiper .splide__slide {
  height: 100%;
  width: 100%;
  position: relative;
}
.main_hero_swiper .splide__slide::after {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.2392156863);
  z-index: 1;
}
.main_hero_swiper .splide__slide img {
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.splide__pagination__page {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #453526 !important;
  opacity: 1 !important;
  background-color: transparent !important;
}

.splide__pagination__page.is-active {
  background-color: #453526 !important;
}

.splide__pagination {
  bottom: 40px !important;
}

.arrow_hero {
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 100%;
  bottom: 0px;
  display: flex;
  max-width: 1530px;
}

.flexsb {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sect_info {
  padding-block: 50px;
}
.sect_info h2 {
  color: var(--main, #453526);
  -webkit-text-stroke-width: 0.3199999928;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sect_info .grid2 {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 55px;
  height: 420px;
  width: 100%;
}
.sect_info .left {
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}
.sect_info .left a {
  width: 100%;
  gap: 5px;
}
.sect_info .left a p {
  font-family: "Nyght Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sect_info .left h5 {
  color: var(--small-text, #2b221b);
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: auto;
  margin-bottom: 50px;
}
.sect_info .right {
  width: 100%;
  height: 100%;
}
.sect_info .right .splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect_info .right .splide__slide img {
  width: 100%;
  height: 277px;
  object-fit: cover;
}
.sect_info .right .splide__slide .slide_info {
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 17px;
}
.sect_info .right .splide__slide .slide_info h3 {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sect_info .right .splide__slide .slide_info h4 {
  margin-top: 8px;
  color: var(--small-text, #2b221b);
  font-family: "Avenir Next";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sect_info .right .splide__slide .slide_info h4 span {
  text-decoration-line: line-through;
}

#splide1 {
  height: 100%;
  width: 100%;
}
#splide1 .slide_link {
  height: 100%;
  display: block;
}
#splide1 .slide_link:hover .btn {
  opacity: 1;
}
#splide1 .splide__arrow--prev {
  left: -30px;
}
#splide1 .splide__arrow--next {
  right: -30px;
}
#splide1 .arrow_hero {
  bottom: auto;
  top: 50%;
  transform: translate(-50% -50%);
}
#splide1 .splide_arrow_custom {
  bottom: auto !important;
  top: 50%;
  transform: translateY(-50%);
}
#splide1 .splide__track {
  width: 100%;
  max-width: 950px;
  margin-right: 80px;
  margin-left: auto;
  padding-top: 35px;
  padding-bottom: 12px;
  border-left: 2px solid #453526;
  border-right: 2px solid #453526;
  height: 100%;
}
#splide1 .btn {
  position: absolute;
  z-index: 3;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0;
  transition: var(--trans);
}
#splide1 .btn span {
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: var(--trans);
  cursor: pointer;
}
#splide1 .btn span svg path {
  transition: var(--trans);
}
#splide1 .btn span:hover {
  background-color: rgba(232, 224, 211, 0.3);
}
#splide1 .slide_img {
  position: relative;
  height: 277px;
}
#splide1 span.like.active svg path,
#splide1 span.shop.active svg path {
  fill: #e8e0d3 !important;
  transition: fill 0.3s ease;
}
#splide1 span.like svg path,
#splide1 span.shop svg path {
  transition: fill 0.3s ease;
}

.sect_info .flexsb .lite_btn {
  margin-right: 80px;
}

.sect_btn .grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sect_btn .left,
.sect_btn .right {
  background-image: url(../img/other/main1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sect_btn .right {
  background-image: url(../img/other/main2.jpg);
}
.sect_btn a {
  margin: 630px auto 60px;
}

.sect_new {
  padding-block: 60px;
  position: relative;
}
.sect_new:before {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  max-width: 200px;
  content: "";
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 14%, rgb(255, 255, 255) 100%);
  z-index: 2;
}
.sect_new:after {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  max-width: 200px;
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 14%, rgb(255, 255, 255) 100%);
  z-index: 2;
}
.sect_new .title {
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
  position: relative;
  width: 100%;
}
.sect_new #splide2 {
  transform: translateY(-35px);
  height: 420px;
}
.sect_new #splide2 .slide_link {
  height: 100%;
  display: block;
}
.sect_new #splide2 .slide_link:hover .btn {
  opacity: 1;
}
.sect_new #splide2 .slide_img {
  background-color: #000;
  position: relative;
  height: 277px;
  width: 100%;
}
.sect_new #splide2 .splide__arrow--prev {
  left: 5px;
  margin-left: 200px;
}
.sect_new #splide2 .splide__arrow--next {
  right: 5px;
  margin-right: 200px;
}
.sect_new #splide2 .splide_arrow_custom {
  bottom: auto !important;
  top: 50%;
  transform: translateY(-50%);
}
.sect_new #splide2 .splide__track {
  width: 100%;
  height: 100%;
}
.sect_new #splide2 .arrow_hero {
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 100%;
  bottom: 20px;
  display: flex;
  max-width: 1530px;
}
.sect_new #splide2 .btn {
  position: absolute;
  z-index: 3;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0;
  transition: var(--trans);
}
.sect_new #splide2 .btn span {
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: var(--trans);
  cursor: pointer;
}
.sect_new #splide2 .btn span svg path {
  transition: var(--trans);
}
.sect_new #splide2 .btn span:hover {
  background-color: rgba(232, 224, 211, 0.3);
}
.sect_new #splide2 .splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect_new #splide2 .splide__slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}
.sect_new #splide2 .splide__slide .slide_info {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 17px;
}
.sect_new #splide2 .splide__slide .slide_info h3 {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sect_new #splide2 .splide__slide .slide_info h4 {
  margin-top: 8px;
  color: var(--small-text, #2b221b);
  font-family: "Avenir Next";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sect_new #splide2 .splide__slide .slide_info h4 span {
  text-decoration-line: line-through;
}
.sect_new #splide2 .slide_link {
  width: 100%;
}
.sect_new #splide2 span.like.active svg path,
.sect_new #splide2 span.shop.active svg path {
  fill: #e8e0d3 !important;
  transition: fill 0.3s ease;
}
.sect_new #splide2 span.like svg path,
.sect_new #splide2 span.shop svg path {
  transition: fill 0.3s ease;
}

.sect_box {
  position: relative;
  padding-top: 220px;
  padding-bottom: 180px;
  /* Анімації для зображень */
  /* Анімації для кожного ефекту */
}
.sect_box h2 {
  color: var(--main, #453526);
  text-align: center;
  width: 100%;
  max-width: 920px;
  margin: 0px auto 80px;
  -webkit-text-stroke-width: 0.5600000024;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 2;
}
.sect_box a {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.sect_box img {
  position: absolute;
  z-index: 1;
}
.sect_box .anim1 {
  max-width: 200px;
  top: 17px;
  left: 164px;
}
.sect_box .anim2 {
  max-width: 64px;
  top: 195px;
  left: 120px;
}
.sect_box .anim3 {
  max-width: 270px;
  left: -67px;
  bottom: 0px;
}
.sect_box .anim4 {
  max-width: 64px;
  left: 250px;
  bottom: 190px;
}
.sect_box .anim5 {
  max-width: 276px;
  left: 180px;
  bottom: -66px;
}
.sect_box .anim6 {
  max-width: 230px;
  top: -23px;
  right: 300px;
}
.sect_box .anim7 {
  max-width: 64px;
  top: 17px;
  right: 200px;
}
.sect_box .anim8 {
  max-width: 270px;
  top: 90px;
  right: -18px;
}
.sect_box .anim9 {
  max-width: 64px;
  right: 300px;
  bottom: 200px;
}
.sect_box .anim10 {
  max-width: 265px;
  right: 50px;
  bottom: -70px;
}
.sect_box .anim1 {
  animation: moveDown1 6s ease-in-out infinite;
}
.sect_box .anim2 {
  animation: moveDown5 6s ease-in-out infinite;
}
.sect_box .anim4 {
  animation: moveDown2 5s ease-in-out infinite;
}
.sect_box .anim3 {
  animation: moveDown6 6s ease-in-out infinite;
}
.sect_box .anim5 {
  animation: moveDownAndRotate 5s ease-in-out infinite;
}
.sect_box .anim6 {
  animation: moveDownAndRotate1 5s ease-in-out infinite;
}
.sect_box .anim7 {
  animation: moveDown1 6s ease-in-out infinite;
}
.sect_box .anim9 {
  animation: moveDown5 5s ease-in-out infinite;
}
.sect_box .anim8 {
  animation: moveDown6 6s ease-in-out infinite;
}
.sect_box .anim10 {
  animation: moveDownAndRotate 7s ease-in-out infinite;
}
@keyframes moveDown1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDownAndRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(50px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes moveDownAndRotate1 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(50px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes moveDown5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown6 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.sect_about {
  margin-top: 100px;
  padding-block: 50px;
  background-color: #ece5db;
}
.sect_about .grid2 {
  display: grid;
  grid-template-columns: 450px 1fr;
}
.sect_about .grid2 .right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect_about .grid2 h2 {
  color: var(--white, #fff);
  font-family: "Ms Madi";
  font-size: 190px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
  transform: translateX(-50%);
  left: 50%;
  top: 0px;
  width: 100%;
  max-width: 730px;
}
.sect_about .grid2 .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.sect_about .grid2 .info h3 {
  color: var(--main, #453526);
  text-align: center;
  margin-bottom: 15px;
  -webkit-text-stroke-width: 0.2560000122;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sect_about .grid2 .info p {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}
.sect_about .grid2 .info a {
  width: 220px;
  border: 2px solid transparent;
}
.sect_about .grid2 .info a:hover {
  border: 2px solid var(--color_dark);
}

.sect_video {
  padding-top: 50px;
}
.sect_video .video {
  width: 100%;
  position: relative;
}
.sect_video video {
  width: 100%;
}

.sect_corporate {
  margin-block: 50px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221528%22%20height%3D%22456%22%20viewBox%3D%220%200%201528%20456%22%20fill%3D%22none%22%3E%3Cpath%20opacity%3D%220.4%22%20d%3D%22M-59%20231.441C5.66231%20274.909%20105.797%20308.799%20222.656%20289.61C408.144%20259.152%20469.548%2019.7843%20405.13%2003.63137C338.92%20-12.9711%20326.325%2051.1575%20350.013%20134.917C373.701%20218.676%20451.5%20462.449%20790%20370.724C1128.5%20279%201438.33%20412.833%201620%20454.5%22%20stroke%3D%22%23ECE5DB%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: moveBackground 10s infinite linear;
  position: relative;
}
.sect_corporate .image {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  max-width: 500px;
}
.sect_corporate .border {
  width: 100%;
  height: 100%;
  border-top: 2px solid #453526;
  border-bottom: 2px solid #453526;
  padding-block: 200px;
}
.sect_corporate .info {
  width: 100%;
  max-width: 670px;
  position: relative;
  z-index: 2;
}
.sect_corporate .info h2 {
  color: var(--main, #453526);
  -webkit-text-stroke-width: 0.5600000024;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.sect_corporate .info p {
  color: var(--small-text, #2b221b);
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}
@keyframes moveBackground {
  0% {
    background-position: center;
  }
  50% {
    background-position: top right; /* переміщення фону */
  }
  100% {
    background-position: center;
  }
}

.sect_inst {
  padding-bottom: 50px;
}
.sect_inst .grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.sect_inst .grid2 h2 {
  color: var(--second, #ece5db);
  font-family: "Ms Madi";
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  width: 100%;
  right: 0px;
  left: auto;
  bottom: 0px;
  text-align: right;
  z-index: 1;
}
.sect_inst .grid2 .grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sect_inst .grid2 .grid3 img {
  height: 100%;
  object-fit: cover;
}
.sect_inst .grid2 .left {
  position: relative;
  z-index: 2;
}
.sect_inst .grid2 .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.sect_inst .grid2 .right .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
}
.sect_inst .grid2 .right h3 {
  color: var(--main, #453526);
  text-align: center;
  -webkit-text-stroke-width: 0.2560000122;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.sect_inst .grid2 .right p {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}
.sect_inst .grid2 .right a svg path {
  transition: var(--trans);
}
.sect_inst .grid2 .right a:hover svg path {
  fill: #d1c1a8;
}

.sect_rev {
  padding-top: 50px;
  background-color: #ece5db;
  padding-bottom: 130px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221528%22%20height%3D%22376%22%20viewBox%3D%220%200%201528%20376%22%20fill%3D%22none%22%3E%3Cpath%20opacity%3D%220.4%22%20d%3D%22M-85.8315%20374.133C-71.007%20361.291%20-49.0001%20350.97%20-49.0001%20331.5C-49.0001%20175%20121.961%20117.097%20229.5%20138.178C382.471%20168.164%20556.904%20200.57%20709%20215.473C930.881%20237.214%201087.57%20280.227%201278.36%20138.178C1398.9%2048.4274%201302.18%20-73.9121%201238.84%2060.9538C1188.73%20167.647%201266.85%20268.202%201379.9%20190.128C1493.53%20111.653%201583.61%2079.079%201721.49%2079.079C1758.69%2079.079%201927%20%2073.1342%201927%20136.518%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: moveBackground 11s infinite linear;
}
@keyframes moveBackground {
  0% {
    background-position: center;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: center;
  }
}
.sect_rev h2 {
  color: var(--main, #453526);
  text-align: center;
  -webkit-text-stroke-width: 0.5600000024;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sect_rev #splide3 {
  margin-top: 20px;
}
.sect_rev #splide3 .splide_arrow_custom {
  bottom: 0px !important;
}
.sect_rev #splide3 .arrow_hero {
  top: 0%;
  transform: translate(-50%, -60%);
}
.sect_rev .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 20px;
}
.sect_rev .info .text {
  width: 100%;
  max-width: 630px;
  padding: 25px;
  margin-right: auto;
  margin-left: auto;
}
.sect_rev .info .text p {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sect_rev .info .text img {
  position: absolute;
  max-width: 20px;
}
.sect_rev .info .text .bottom {
  bottom: 0px;
  left: 0px;
}
.sect_rev .info .text .top {
  top: 0px;
  right: 0px;
}
.sect_rev .info .name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.sect_rev .info .name img {
  max-width: 28px;
}

footer .top {
  background: #d1c1a8;
  padding-block: 80px;
}
footer .top .grid4 {
  display: grid;
  grid-template-columns: 180px 1fr 1fr 1fr;
  gap: 90px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
footer .top .grid4 .btn_home {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
footer .top .grid4 .btn_home svg path {
  transition: var(--trans);
}
footer .top .grid4 .btn_home:hover svg path {
  fill: var(--color_dark) !important;
}
footer .top .col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .top .col1 .soc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  margin-top: 60px;
}
footer .top .col1 .soc a svg path {
  transition: var(--trans);
}
footer .top .col1 .soc a:hover svg path {
  fill: var(--color_dark);
}
footer .top .col2 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
footer .top .col2 a {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .top .col3 {
  display: flex;
  align-items: start;
  flex-direction: column;
}
footer .top .col3 .box {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-bottom: 20px;
}
footer .top .col3 .box .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .top .col3 .box .info h3 {
  color: #453526;
  font-family: "Nyght Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
footer .top .col3 .box .info p {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}
footer .top .col4 .box {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-bottom: 20px;
}
footer .top .col4 .box a {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .bot {
  padding-block: 10px;
}
footer .bot .grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer .bot .grid5 p,
footer .bot .grid5 a {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */