@import url(../css/base.css);
:root {
  --trans: all 0.35s ease-in-out;
  --text: color 0.35s ease-in-out, background 0.35s ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--Colour-Black-50, rgba(2, 13, 18, 0.05));
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 16px;
  z-index: 99999;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left__header,
.right__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.right__header {
  margin-right: 0px;
  margin-left: auto;
}

/* Burger Button */
.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 8px;
  width: 40px;
  height: 40px;
  -webkit-transition: var(--text);
  transition: var(--text);
}
.burger:hover {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.1));
}

.burger span {
  width: 20px;
  height: 2px;
  background: #f5f5f5;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

/* Burger animation */
.burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

/* Logo */
.logo_header {
  height: 24px;
  max-width: 120px;
}

/* Language Dropdown */
.language-dropdown {
  position: relative;
}

.languageButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 67px;
  height: 40px;
  padding: 4px 8px 4px 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
  border: none;
  -webkit-transition: var(--text);
  transition: var(--text);
}
.languageButton:hover {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.1));
}
.languageButton p {
  color: var(--Colour-White-1000, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
}
.languageButton svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-list {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: white;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  cursor: pointer;
}

.language-list.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.language-list li button {
  border-bottom: 1px solid var(--Colour-Black-100, rgba(2, 13, 18, 0.1));
  color: #f5f5f5;
  border: none;
  padding: 10px 12px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  -webkit-transition: var(--text);
  transition: var(--text);
  color: var(--Colour-Black-1000, #020d12);
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.language-list li button:hover {
  background: var(--Colour-Black-200, rgba(2, 13, 18, 0.2));
}

.language-list li button.selected {
  color: white;
  background: var(--Colour-Charged-Blue-500, #27c5d9);
}

/* Contact Button */
.contact-button {
  background: transparent;
  font-family: "IBM Plex Mono";
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  color: var(--Colour-White-1000, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--text);
  transition: var(--text);
}
.contact-button:hover {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}

/* Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 72px;
  left: 0;
  height: calc(100vh - 72px);
  width: 100%;
  background: #0f191d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
}

.menu-overlay.active {
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

.menu-list {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px;
  position: relative;
  gap: 12px;
}

.menu-list li {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
}

.title_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 12px;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}
.menu-item span {
  color: var(--Colour-Charged-Blue-700, #197f8c);
  font-family: "IBM Plex Mono";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -8px;
  -webkit-transition: var(--text);
  transition: var(--text);
}
.menu-item p {
  color: #878c8e;
  font-size: 190px;
  font-style: normal;
  font-weight: 400;
  line-height: 87%;
  letter-spacing: -19px;
  -webkit-transition: var(--text);
  transition: var(--text);
}

.menu-list li:hover .menu-item span,
.menu-list li:focus .menu-item span {
  color: var(--Colour-Charged-Blue-600, #20a1b2);
}
.menu-list li:hover .menu-item p,
.menu-list li:focus .menu-item p {
  color: #cccfd0;
}

.menu-list li:active .menu-item span {
  color: var(--Colour-Charged-Blue-500, #27c5d9);
}
.menu-list li:active .menu-item p {
  color: white;
}

/* Submenu */
.submenu {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  max-width: 360px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 10px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  gap: 20px;
  visibility: hidden;
  opacity: 0;
}
.submenu a {
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  -webkit-transition: var(--text);
  transition: var(--text);
}
.submenu a:hover {
  color: white;
}

.menu-list li:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu button {
  position: relative;
  background: none;
  color: var(--Colour-White-300, rgba(255, 255, 255, 0.3));
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: var(--text);
  transition: var(--text);
}
.submenu button:hover {
  color: white;
}

.submenu.active {
  max-height: 200px;
  opacity: 1;
}

.submenu.scroll {
  overflow-y: auto;
  max-height: 200px;
  scroll-behavior: smooth;
}

.submenu.scroll::-webkit-scrollbar {
  width: 8px;
}

.submenu.scroll::-webkit-scrollbar-track {
  background: #101820;
}

.submenu.scroll::-webkit-scrollbar-thumb {
  background-color: #20a1b2;
  border-radius: 4px;
}

.submenu.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #27c5d9;
}

.submenu .see-more {
  color: var(--Colour-White-300, rgba(255, 255, 255, 0.3));
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  -webkit-transition: var(--text);
  transition: var(--text);
}
.submenu .see-more:hover {
  color: var(--Colour-White-800, rgba(255, 255, 255, 0.8));
}

@media (max-width: 768px) {
  .submenu {
    position: static;
    display: none;
    background: #101820;
    padding: 0;
  }
  .submenu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-item {
    cursor: pointer;
  }
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content {
  background: #1e293b;
  padding: 20px;
  border-radius: 5px;
  color: #f5f5f5;
}

.close {
  color: #f5f5f5;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.main__svg_logo {
  margin-top: 200px;
  width: 100%;
}

.box_center {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box_center .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.box_center .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  max-width: 425px;
}
.box_center h3 {
  color: var(--Colour-Charged-Blue-500, #27c5d9);
  font-family: "IBM Plex Mono";
  font-size: clamp(30px, 2.083vw, 40px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 30px */
  letter-spacing: -0.9px;
  text-transform: uppercase;
}
.box_center p {
  color: var(--Colour-White-800, rgba(255, 255, 255, 0.8));
  font-family: "IBM Plex Sans";
  font-size: clamp(14px, 2.083vw, 18.6px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.sect_hero2 .grid4 {
  margin-top: 115px;
}
.sect_hero2 .grid4 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 16px;
}
.sect_hero2 .grid4 .box h3 {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Mono";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100px */
  letter-spacing: -5px;
}
.sect_hero2 .grid4 .box p {
  color: var(--Colour-Charged-Blue-500, #27c5d9);
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}
.sect_hero2 .grid4 .box_back {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sect__hero_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100dvh;
  position: relative;
}

.text_center {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-right: auto;
  margin-left: auto;
}
.text_center h2 {
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: clamp(32px, 2.083vw, 35px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
  width: 100%;
  max-width: 690px;
}

.empty {
  width: 10%;
}

.title__box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect__service {
  padding-top: 100px;
}
.sect__service .title__box {
  margin-bottom: 72px;
}

.service_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  overflow: hidden;
  height: 200px;
  position: relative;
  -webkit-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
}
.service_item:hover {
  border-top: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}
.service_item:active {
  border-top: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.service_item:focus {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.service_item .box_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 0px 0px 16px;
}
.service_item .box_left:focus {
  outline: none;
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.service_item .box_left img {
  width: 40px;
  height: 40px;
}
.service_item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.service_item .text .service__title {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.4px;
}
.service_item .text .subtitle {
  color: var(--Colour-White-800, rgba(255, 255, 255, 0.8));
  width: 100%;
  max-width: 400px;
  font-family: "IBM Plex Sans";
  font-size: 18.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.service_item .box_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service_item:hover,
.service_item:focus-within {
  height: 500px;
}

.subtitle,
.box_right {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.service_item:hover .subtitle,
.service_item:focus-within .subtitle {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.service_item:hover .box_right,
.service_item:focus-within .box_right {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#scene-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}